<!DOCTYPE html>

<html lang="PT-pt" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/estilos.css}">
    <title>Signup</title>
</head>

<body>

<div class="container-fluid" style="display: flex; flex-direction: column; align-items: center;">

    <div th:replace="~{barra_superior}"></div>

    <div class="content-body-column" style="align-content: center;">

        <img alt="background" th:src="@{/Images/background.jpg}" class="background" style="height: 100vh">
        <br>

        TEST PAGE



    </div>

</div>
</body>
</html>